.cardDog {
  width: 250px;
  margin-right: 10px;
  margin-top: 10px;
}

.cardDogAddress {
  width: 200px;
  height: auto;
}

.cardDogAddressText {
  width: 170px;
  white-space: pre-line;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDogImgContainer {
  height: 200px;
  width: 200px;
  background: #8c8c8c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  overflow: hidden;
}

.cardDogImageDog {
  width: 100%;
  height: auto;
}
