.photoFormContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.photoFormTitle {
	margin: 40px 0px;
}

.photoListContainer {
	width: 100%;
	margin-top: 20px;
	flex-direction: row;
}

.resultClickable {
	cursor: pointer;
	padding: 3px 0px;
	& > p {
		text-decoration: underline;
	}
	& > p > span {
		text-decoration: none;
	}
	&:hover {
		background-color: #eeeeee;
	}
}
