.photoResultContainer {
	display: flex;
	padding: 15px;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	background-color: #fafafa;
	border-radius: 8px;
	margin-bottom: 7px;
	box-shadow: 0px 0.850136px 8.50136px rgba(0, 0, 0, 0.07);
}

.photoResultContainerItem {
	margin-right: 20px;
	height: 60px;
	& .photoResultItemTitle {
		font-weight: bold;
	}
}

.photoResultContainerImg {
	width: 60px;
	background-color: #c2c2c2;
	border-radius: 8px;
	overflow: hidden;
	& > img {
		width: 100%;
		height: auto;
	}
}
