.petSearchButton {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	background-color: #2c3e50;
	color: white;
	border-radius: 25px;
	width: 100%;
	font-weight: bold;
	border: none;
	height: 50px;
	&:hover {
		background-color: #476485;
		color: white;
	}
	&:focus {
		background-color: #2c3e50;
		color: white;
	}
}
