.petSearchButton {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	background-color: #1a608d;
	color: white;
	border-radius: 8px;
	width: 100%;
	font-weight: bold;
	border: none;
	height: 40px;
	&:hover {
		background-color: #1a74a1;
		color: white;
	}
	&:focus {
		background-color: #184f77;
		color: white;
	}
	&:disabled {
		background-color: #20669f;
		color: white;
	}
	&:disabled:hover {
		background-color: #1a6895;
		color: white;
	}
}
